* {
    margin:0;
    padding:0;
    line-height:1.8;
    overflow-wrap:break-word;
    outline:none;
    color:#444;
}

/* 在小屏幕上显示下拉菜单 */
/* 在小屏幕上居中显示导航栏内容 */
@media (max-width: 767px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body {
    font-size:17px;
}
h2 {
    font-size:2.25em;
    margin-top:1em;

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.upload-info {
  margin-top: auto;
  color: gray;
}
}
