@font-face {
    font-family:"ZCOOLXiaoWei";
    src: url('/files/ZCOOLXiaoWei-Regular.ttf') format('truetype'),
}

* {
    margin:0;
    padding:0;
    line-height:1.8;
    overflow-wrap:break-word;
    outline:none;
    color:#444;
    font-family:"ZCOOLXiaoWei";
}

body {
    font-size:17px;
}
h2 {
    font-size:2.25em;
    margin-top:1em;
}
